@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');
body {
    margin: 0;
    background: #ecf0f1;
    font-family: 'Inter'
  }
  .main{
      display: flex;
  }
.sidebar {
    height: 100vh;
    width: 25vw;
    background: linear-gradient(251.58deg, #E1E9F5 -12.02%, #EDF2FA 120.26%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sidebar_logo{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
  }

  .sidebar_logo img{
      width: 75%;
  }

  .sidebar_menu{
      margin-top: 3rem;
  }

  .item{
    width: 240px;
    margin-left: 1rem;
  }
  
  .item  a{
    display: flex;
    text-decoration: none;
  }

  .item .active{
    background: #00A1ED;
    border-radius: 12px;
    
}

.item .active .item_text{
  color:white !important;
}

  .sidebar_icon{
    margin-right: 0rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .item_text{
    color: #303030;
    font-size: 15px;
    padding: 10px;
    margin-left: 0rem;
  }

  .main_content{
      width: 100%;
      background-color: #FFFFFF;
  }

  header{
      display: flex;
      justify-content: space-between;
      margin-top: 1.3rem;
      margin-left: 1.5rem;
  }

  .page_header{
      color: #303030;
      font-size: 25px;
      font-weight: bold;
  }

  .header_right{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .form-group{
    margin-right: 1rem;
  }

  .form-group input{
    width: 224px;
    height: 40px;
    border: 0.3px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 12px;
  }

  .form-group input:focus{
      outline:none
  } 

  .filter img{
    width: 40px;
    margin-right: 1rem;
  }

  .profile img{
      width:30px
  }

  table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    width: 95%;
    margin-left: 1.5rem;
 }

 th{
    color: #00A1ED;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
 }

 td{
    color: #303030;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
 }

 th, td {
    text-align: left;
    padding: 8px;
 }

 tbody{
    border-radius: 16px;
 }

 tbody > tr {
    background: #EFF2F7;
    border: 0.3px solid #DBDBDB;
 }

 
td:first-child,
th:first-child {
  border-radius: 16px 0 0 16px;
}
td:last-child,
th:last-child {
  border-radius: 0 16px 16px 0;
}

td span{
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.action{
  display: none;
}

.action_link{
  padding-top: 0rem;
  padding-bottom: 0rem;
  display: block;
  display: none;
}

  @media(max-width:1024px){
    .sidebar {
       width: 30vh;
     }
  }